<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>



button{
   width: 70px;
   height: 30px;
   background: purple;
   color: white;
   margin-top: 29px;

}
input{
  font-size: 1rem;
  text-emphasis: wrap;  
  padding: 0.4em 1em;
  margin-left: 20px;

}
form{
    position: absolute;
    text-align: center;
    justify-content: center;
    left: 550px;
    padding-top: 90px;
}
</style>
<body>
    <form id = "form" class = "addUser"  name = "form" class="field" onsubmit="return validateForm()">
        <h3>Login</h3>
        <div>
        <label for = "emailId">Email-Id</label>
            <input type = "text" id="emailInput" name = "emailId" placeholder = "Enter the EmailId" />
                <small></small>  
        </div>
        <br></br>
            <div className="field">
            <label for = "password">Password</label>
            <input type = "text" name = "password"  placeholder = " Enter password"  />
            </div>
            <div>
                <button id = "submit-btn1" formmethod = "post" formaction="/crud" type="submit" >Submit</button>
                <button id = "submit-btn2" formmethod = "post" formaction="/register" type="submit" >Register</button>

            </div>

    </form>
</body>
<script>
    localStorage.clear()
</script>